<ng-container *ngIf="config$ | async as config">

  <header>
    <h1 [class.alert]="stage == 4">{{title}}</h1>
  </header>

  <main>

    <ul class="frame-list" [class.has-item]="selectedFrame != null">
      <li class="frame-item" *ngFor="let f of config.frames">
        <img class="frame-img" src="{{f}}" #img (click)="onSelectFrame(img)" [class.active]="selectedFrame == img" />
      </li>
    </ul>

    <app-shooting class="modal" *ngIf="selectedFrame && stage== 1" [frame]="selectedFrame.src"
      (stillPicture)="onImageCaptured($event)">
    </app-shooting>

    <div class="composite-actions" *ngIf="stage > 1">

      <app-image-designer *ngIf="picture" [frame]="selectedFrame!" [picture]="picture"></app-image-designer>

      <div class="buttons-container">
        <button (click)="shoot()">Take Picture Again</button>
        <button (click)="inputEmail()">Email</button>
      </div>
    </div>

    <div class="modal email-input-container" *ngIf="stage == 3 || stage == 4">
      <input [(ngModel)]="email" />

      <button (click)="send()">Send</button>
      <button (click)="return()">Go Back</button>
    </div>

    <div class="modal confirmation-container" *ngIf="stage == 6">
      <p>תודה רבה!</p>
      <img src="{{imageDesigner.getPicture()}}"/>
    </div>
  </main>
</ng-container>